*,
*:before,
*:after {
    box-sizing: border-box;
}

html {
    box-sizing: border-box;
}

body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    overflow-x: hidden;
    background: var(--bg-color);
    color: var(--input-color);
    font-size: 14px;

    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p,
    ul,
    ol,
    figure {
        margin: 0;

    }

    img {
        width: 100%;
    }

    ul,
    ol,
    li {
        margin: 0;
        padding: 0;
        list-style-type: none;
    }

    a {
        text-decoration: none !important;
        display: inline-block;

        &:hover {
            color: inherit;
        }
    }

    button {
        cursor: pointer !important;
        box-shadow: none;

        &:focus {
            outline: none;
            box-shadow: none !important;
        }

        &:hover {
            color: inherit;
        }
    }
}

.card-edit {
    color: var(--shadetwo-color);

    &:hover {
        color: var(--shadetwo-color);
    }

}

.custom-card {
    padding: 10px;
    background-color: var(--neutral-color6);
    border: 1px solid var(--neutral-color4);
    border-radius: 2px;
    overflow: hidden;
}

.page-title {
    font-size: 21px;
    font-weight: 400;
    line-height: 24px;
    color: var(--brand-color);
}

.btn {
    font-size: 16px;
    font-weight: 400;
    line-height: 16px;
    padding: 10px 20px;

}

.btn-outline {
    @extend .btn;
    color: var(--accent-color);
    border: 1px solid var(--accent-color);
    background-color: var(--bg-color);

    &:hover {
        color: var(--accent-color);
    }
}

.btn-fill {
    @extend .btn;
    color: var(--neutral-color5);
    background-color: var(--neutral-color3);
    border: 1px solid var(--neutral-color3);

    &:hover {
        color: var(--neutral-color5);
    }
}

.collapse-icon {
    color: var(--neutral-color3);
}

.numcount {
    font-size: 14px;
    line-height: 16px;
    width: 34px;
    height: 26px;
    padding: 10px;
}

.count-hold {
    @extend .numcount;
    color: var(--hold-color);
    background-color: rgba(226, 210, 62, 0.05);
}

.count-warning {
    @extend .numcount;
    color: var(--alert-color);
    background: rgba(234, 153, 32, 0.05);
}

.count-success {
    @extend .numcount;
    color: var(--success-color);
    background: rgba(30, 175, 97, 0.05);
}


.dark {
    .count-hold {
        background: rgba(226, 210, 62, 0.05);
    }

    .count-warning {
        background: rgba(234, 153, 32, 0.05);
    }

    .count-success {
        background: rgba(30, 175, 97, 0.05);
    }
}